@model CookingSystem.Web.Models.Recipes.AllRecipesViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All</title>
</head>
<body>


    <div class="jumbotron text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Select</a>
        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
            @foreach (var category in Model.Categories)
            {
                <a class="dropdown-item" asp-controller="Recipes" asp-action="GetAllRecipesByCategoryId" asp-route-categoryId="@category.Id">@category.Name</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Recipes" asp-action="All">All</a>
        </div>
        <div class="dropdown-divider"></div>

        @foreach (var recipe in Model.Recipes)
        {
            <div style="display:inline-grid; margin: 1rem;">
                <div class="card border-warning mb-3" style="max-width: 15rem; max-height: 35rem;">
                    <div class="card-header"></div>
                    <img src="@("~/img/"+recipe.MainImage)" asp-append-version="true" width="100%" height="200" />
                    <div class="card-body">
                        <h6 class="card-title">@recipe.Name</h6>
                        <div style="display:inline">
                            <p class="card-text"><i class="fas fa-award"></i> @recipe.CategoryName</p>
                            <p class="card-text"><i class="fas fa-sort-amount-up"></i> @recipe.Level</p>
                            <p class="card-text"><i class="fas fa-user-check"></i> @recipe.UserName</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class"card border-dark mb-3" style="display:inline">
                            <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="Recipes" asp-route-id="@recipe.Id">Details</a>
                            @if (this.Context.User.Identity.Name == recipe.UserName)
                            {
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Recipes" asp-route-id="@recipe.Id" onclick="return confirm('Are you sure you want to delete recipe `@recipe.Name`?')">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
