@model CookingSystem.Web.Models.Recipes.RecipeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    
    <div class="jumbotron">
        <div>
            <h4>@Model.Name</h4>
            <div>
                <i class="far fa-calendar-check"></i>  @Model.Date
            </div>
            <hr />
            @foreach (var img in Model.Images)
            {
                <img src="@("~/img/"+img.Name)" asp-append-version="true" width="200px" height="200px" style="display:inline; margin: 0 5px;" />
            }

            <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Information</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-award"></i> @Model.Category
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-sort-amount-up"></i> @Model.Level
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-utensils"></i> @Model.Portion
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-stopwatch"></i> @Model.CookingTime
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card border-warning mb-3" style="max-width: 40rem;">
                <div class="card-header">Ingredients</div>
                <div class="card-body">
                    <p class="card-text">@Model.ContentIngredients</p>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Method of Preparation</div>
                <div class="card-body">
                    <p class="card-text">@Model.PreparationMehtod</p>
                </div>
            </div>
        </div>



        <div>
            <a class="btn btn-danger btn-sm" asp-controller="Recipes" asp-action="All">Back</a>
            @if (this.Context.User.Identity.Name == Model.UserName)
            {
                <a class="btn btn-warning btn-sm" asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-success btn-sm" asp-action="AddImage" asp-controller="Images" asp-route-recipeId="@Model.Id">Images</a>
            }
        </div>
    </div>
    <div class="jumbotron align-content-center" style="margin-top: 1rem;">
        <a class="btn btn-success btn-sm" asp-controller="Comments" asp-action="Add" asp-route-recipeId="@Model.Id">Comment</a>
        <div class="list-group">
            @foreach (var comment in Model.Comments)
            {
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@comment.Author</h5>
                        <small>@comment.Date</small>
                    </div>
                    <p class="mb-1">
                        @comment.Content
                    </p>
                    <small>@comment.UserName</small>
                </a>
            }
        </div>
    </div>
</body>
</html>
